In [12]:
import pandas as pd

In [13]:
artists = 'dataset/artists.csv'
tracks = 'dataset/tracks.csv'


df_artists = pd.read_csv(artists, sep=';')

df_tracks = pd.read_csv(tracks)

print(df_artists.head())
print(df_tracks.head())

     id_author           name gender  birth_date birth_place nationality  \
0  ART82291002       99 posse      M         NaN         NaN         NaN
1  ART53496045  achille lauro      M  1990-07-11      Verona      Italia
2  ART18853907           alfa      M         NaN         NaN         NaN
3  ART64265460      anna pepe      F         NaN         NaN         NaN
4  ART75741740    articolo 31      M         NaN         NaN         NaN

                            description active_start  active_end province  \
0              gruppo musicale italiano   1991-01-01         NaN      NaN
1  cantautore e rapper italiano (1990-)   2012-01-01         NaN   Verona
2                                   NaN          NaN         NaN      NaN
3                                   NaN          NaN         NaN      NaN
4      gruppo musicale hip hop italiano   1990-01-01         NaN      NaN

   region country   latitude  longitude
0     NaN     NaN        NaN        NaN
1  Veneto  Italia  45.442498  10.985738
2     NaN     NaN        NaN        NaN
3     NaN     NaN        NaN        NaN
4     NaN     NaN        NaN        NaN
         id    id_artist    name_artist  \
0  TR934808  ART04205421  Rosa Chemical
1  TR760029  ART04205421  Rosa Chemical
2  TR916821  ART04205421  Rosa Chemical
3  TR480968  ART04205421  Rosa Chemical
4  TR585039  ART04205421  Rosa Chemical

                                          full_title         title  \
0    ​polka 2 :-/ by Rosa Chemical (Ft. Ernia & Guè)  ​polka 2 :-/
1         POLKA by Rosa Chemical (Ft. Thelonious B.)         POLKA
2  ​britney ;-) by Rosa Chemical (Ft. MamboLosco ...  ​britney ;-)
3                  CEO by Rosa Chemical (Ft. Taxi B)           CEO
4                LONDRA by Rosa Chemical (Ft. Rkomi)        LONDRA

      featured_artists primary_artist language              album  \
0           Ernia, Guè  Rosa Chemical       pl   FOREVER AND EVER
1        Thelonious B.  Rosa Chemical       en   FOREVER AND EVER
2  MamboLosco, RADICAL  Rosa Chemical       en   FOREVER AND EVER
3               Taxi B  Rosa Chemical       it  OKAY OKAY !! - EP
4                Rkomi  Rosa Chemical       en   FOREVER AND EVER

   stats_pageviews  ...  album_type  disc_number track_number duration_ms  \
0         196033.0  ...       album          1.0          3.0    207761.0
1         164450.0  ...       album          1.0          3.0    207761.0
2          58313.0  ...       album          1.0          1.0    193544.0
3          39890.0  ...      single          1.0          2.0    169000.0
4          35432.0  ...       album          1.0          8.0    194779.0

  explicit  popularity                                        album_image  \
0     True        46.0  https://i.scdn.co/image/ab67616d0000b2736d5e14...
1     True        46.0  https://i.scdn.co/image/ab67616d0000b2736d5e14...
2     True        39.0  https://i.scdn.co/image/ab67616d0000b2736d5e14...
3     True        47.0  https://i.scdn.co/image/ab67616d0000b27367c03d...
4     True        41.0  https://i.scdn.co/image/ab67616d0000b273fcdb60...

    id_album                                             lyrics  \
0  ALB115557  Oplà, ah\nBdope, chiama due b—\n\nMi candidere...
1  ALB115557  Greg Willen, non dormire\n(Brr-poh)\n\nT-T-Tro...
2  ALB115557  Mothz\nYeah, yeah, yeah-yeah\nBdope, chiama du...
3  ALB730959  Designer sui vestiti penso di essere un outlet...
4  ALB436151  Bdope (Yeah)\n\nVuole solo me, non fare la gel...

   modified_popularity
0                False
1                False
2                False
3                False
4                False

[5 rows x 45 columns]

In [58]:
print("artists shape", df_artists.shape)

perc= (df_artists.isnull().sum()/df_artists.shape[0])*100
num= df_artists.isnull().sum()
print("columns nan perc:", num)

artists shape (104, 14)
columns nan perc: id_author         0
name              0
gender            0
birth_date       31
birth_place      32
nationality      33
description      18
active_start     54
active_end      104
province         34
region           36
country          34
latitude         32
longitude        32
dtype: int64

In [59]:
print(df_tracks.shape)

df_tracks.isnull().sum()

(11166, 45)

id                         0
id_artist                  0
name_artist                0
full_title                 0
title                      0
featured_artists        7649
primary_artist             0
language                 105
album                   1514
stats_pageviews         6524
swear_IT                   0
swear_EN                   0
swear_IT_words             0
swear_EN_words             0
year                     400
month                   1197
day                     1323
n_sentences               76
n_tokens                  76
tokens_per_sent           76
char_per_tok              76
lexical_density           76
avg_token_per_clause      76
bpm                       64
centroid                  64
rolloff                   64
flux                      64
rms                       64
zcr                       64
flatness                  64
spectral_complexity       64
pitch                     64
loudness                  64
album_name                78
album_release_date        78
album_type                78
disc_number               78
track_number              78
duration_ms               78
explicit                  78
popularity                 2
album_image               78
id_album                  78
lyrics                     3
modified_popularity        0
dtype: int64

In [60]:
df_artists[df_artists['name']=="shiva"]

,id_author,name,gender,birth_date,birth_place,nationality,description,active_start,active_end,province,region,country,latitude,longitude
91,ART64850829,shiva,M,http://www.wikidata.org/.well-known/genid/4111...,NaN,NaN,dio indiano della distruzione e della trasform...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
artists_col = df_artists.select_dtypes(include=['object']).columns

for col in artists_col:
    num_unici = df_artists[col].nunique()

    print(f"Column '{col}': {num_unici} unique values.")

Column 'id_author': 104 unique values.
Column 'name': 104 unique values.
Column 'gender': 2 unique values.
Column 'birth_date': 73 unique values.
Column 'birth_place': 40 unique values.
Column 'nationality': 2 unique values.
Column 'description': 69 unique values.
Column 'active_start': 24 unique values.
Column 'province': 26 unique values.
Column 'region': 13 unique values.
Column 'country': 1 unique values.

In [62]:
desc=df_artists['description'].unique()
d=df_artists["description"].value_counts(dropna=False).head(30)
print("Number of unique descriptions:", d)

Number of unique descriptions: description
NaN                                                              18
gruppo musicale italiano                                          6
rapper italiano (1993-)                                           3
cantante italiano                                                 3
cognome                                                           3
rapper italiano                                                   2
rapper e produttore discografico italiano (1979-)                 2
rapper italiano (1991-)                                           2
cantautore e rapper italiano (1989-)                              2
rapper italiano (1989-)                                           2
rapper e produttore discografico italiano                         2
rapper e attore italiano (1982-)                                  1
rapper e cantautore italiano (1998-)                              1
tipo di barca a vela usata nel XVIII e XIX secolo                 1
cantautore e rapper italiano (1991-)                              1
cantautore, rapper e produttore discografico italiano (1967-)     1
opera lirica di Pietro Mascagni                                   1
cantautore, rapper e produttore discografico italiano             1
Rapper italiano                                                   1
rapper italiano (2001-)                                           1
rapper e produttore discografico italiano (1973-)                 1
gruppo musicale canadese                                          1
rapper e cantautore italiano (1994-)                              1
cantautore e rapper italiano (1994-)                              1
rapper italiano (2002-)                                           1
cantautrice e rapper italiana (1989-)                             1
criminale e rapper italiano                                       1
cantante e rapper italiana (1995-)                                1
rapper e produttore discografico italiano (1984-)                 1
rapper italiano (1992-)                                           1
Name: count, dtype: int64

In [63]:
print(df_artists[df_artists['description']=="gruppo musicale canadese"] )

      id_author       name gender birth_date birth_place nationality  \
78  ART87389753  priestess      F        NaN         NaN         NaN

                 description active_start  active_end province region country  \
78  gruppo musicale canadese   2003-01-01         NaN      NaN    NaN     NaN

    latitude  longitude
78       NaN        NaN

In [64]:
print(df_tracks[df_tracks['name_artist']=="Shiva"])

             id    id_artist name_artist  \
9989   TR209165  ART64850829       Shiva
9990   TR715880  ART64850829       Shiva
9991   TR391538  ART64850829       Shiva
9992   TR536704  ART64850829       Shiva
9993   TR925464  ART64850829       Shiva
...         ...          ...         ...
10155  TR411284  ART64850829       Shiva
10156  TR622110  ART64850829       Shiva
10157  TR593589  ART64850829       Shiva
10158  TR345919  ART64850829       Shiva
10159  TR119794  ART64850829       Shiva

                                       full_title                       title  \
9989               Gotham by Shiva (Ft. Kid Yugi)                      Gotham
9990            Auto Blu by Shiva (Ft. Eiffel 65)                    Auto Blu
9991                              Take 5 by Shiva                      Take 5
9992            Mon Fre by Shiva (Ft. Emis Killa)                     Mon Fre
9993   Soldi in Nero by Shiva (Ft. Sfera Ebbasta)               Soldi in Nero
...                                           ...                         ...
10155                           Fortuna* by Shiva                    Fortuna*
10156                          Oscurità* by Shiva                   Oscurità*
10157                  Ogni mio sbaglio* by Shiva           Ogni mio sbaglio*
10158                         Madonnina* by Shiva                  Madonnina*
10159         I can fly (SNIPES Session) by Shiva  I can fly (SNIPES Session)

      featured_artists primary_artist language            album  \
9989          Kid Yugi          Shiva       it    Milano Angels
9990         Eiffel 65          Shiva       it              NaN
9991               NaN          Shiva       it    Milano Angels
9992        Emis Killa          Shiva       en              NaN
9993     Sfera Ebbasta          Shiva       it              NaN
...                ...            ...      ...              ...
10155              NaN          Shiva       it              NaN
10156              NaN          Shiva       it              NaN
10157              NaN          Shiva       it              NaN
10158              NaN          Shiva       it              NaN
10159              NaN          Shiva       it  SNIPES Sessions

       stats_pageviews  ...  album_type  disc_number track_number duration_ms  \
9989          139335.0  ...       album          1.0         12.0    207346.0
9990          121630.0  ...      single          1.0          1.0    166086.0
9991          100968.0  ...       album          1.0          5.0    191856.0
9992           84971.0  ...      single          1.0          1.0    224150.0
9993           80457.0  ...      single          1.0          1.0    183797.0
...                ...  ...         ...          ...          ...         ...
10155              NaN  ...       album          1.0          8.0    203860.0
10156              NaN  ...       album          1.0          6.0    226906.0
10157              NaN  ...      single          1.0          1.0    174800.0
10158              NaN  ...       album          1.0          9.0    180863.0
10159              NaN  ...       album          1.0         12.0    208800.0

      explicit  popularity                                        album_image  \
9989     False        68.0  https://i.scdn.co/image/ab67616d0000b273b94d9d...
9990      True        49.0  https://i.scdn.co/image/ab67616d0000b27344ee77...
9991     False        62.0  https://i.scdn.co/image/ab67616d0000b273b94d9d...
9992      True        60.0  https://i.scdn.co/image/ab67616d0000b273ec00bb...
9993     False        68.0  https://i.scdn.co/image/ab67616d0000b273967e0d...
...        ...         ...                                                ...
10155    False         0.0  https://i.scdn.co/image/ab67616d0000b273d24261...
10156     True        82.0  https://i.scdn.co/image/ab67616d0000b273d6cdd0...
10157     True        44.0  https://i.scdn.co/image/ab67616d0000b273963c5c...
10158     True        76.0  https://i.scdn.co/image/ab67616d0000b273d6cdd0...
10159    False        20.0  https://i.scdn.co/image/ab67616d0000b2739b63fe...

        id_album                                             lyrics  \
9989   ALB921734  \nBu-bu-bu\n\nLet's go, andiamo, buio su Milan...
9990   ALB374681  Ehi, ehi, ehi, ehi, ehi, ehi, eh-ehi\nLa mia s...
9991   ALB921734  O mia bela Madunina, che te brillet de lontan\...
9992   ALB619366  Yah-yah-yah-yah (Brr, brr, brr, brr)\nYah-yah-...
9993   ALB541942  Tu vuoi un beat di Charlie, ma non lo sai usar...
...          ...                                                ...
10155  ALB339717  \nOkay, stasera devo avere fortuna (Uh, yeah)\...
10156  ALB889014  ]\n]\nUna vita assieme non ci basta, baby, oh\...
10157  ALB478795  \nNon è questo quello che sognavo da grande\nS...
10158  ALB889014  \nQuanto è vero che 'ste pussy parlano di trap...
10159  ALB925713  Oh-oh-oh, oh, oh\nEhi, yeah\nEhi, yeah\n\nI ca...

       modified_popularity
9989                 False
9990                 False
9991                 False
9992                 False
9993                 False
...                    ...
10155                False
10156                False
10157                False
10158                False
10159                False

[171 rows x 45 columns]